<!DOCTYPE html>
<html lang="es">
<head>

   
    <link rel="stylesheet" href="/css/listadoFotos.css" />
    <link rel="shortcut icon" href="../images/camara-retro.png" type="image/x-icon">
    <title>Listado de fotos</title>
</head>
<body>

<!-----------------------------------------------------parte principal de lista de fotos --------------------------------------------------------->
<section class="container3">
    
<table class="tablaUsuarios" >
    <caption class="encabezado">Listado de fotos</caption>
    <tr>
      <th class="titulos">ID</th><th class="titulos">Name</th><th class="titulos">Band</th>
      <th class="titulos">Year</th><th class="titulos">Action</th>
    </tr>
    <tr>
        <% for(let i=0; i < fotos.length; i++) {%>
      <td class="fila"><%=fotos[i].id  %></td>
      <td class="fila"><%= fotos[i].name %></td>
      <td class="fila"><%= fotos[i].band %></td>
      <td class="fila"><%= fotos[i].year %></td>
     
      <td class="botones">
        <button class="botonEditar" type="submit"  data-dismiss="modal"><a href="/edicionFoto/<%= fotos[i].id %>">Edit</a></button>

        <form action="/delete/<%= fotos[i].id %>?_method=DELETE" method="POST" class="form-borrar" >
                    <button class="botonBorrar" type="submit" onclick="eliminar_usuario(event);" >Delete</button>
        </form>
        </td>
    </tr>
    <%}%>
</table>
<div class="container2">
  <div class="btn-volver">
     <button class="botonAgregar" type="reset"><a href="/creacionFoto">Add Photo</a></button>     
    </div>
    <div class="btn-volver">
       <button class="botonVolver" type="reset"><a href="/">Return</a></button>     
    </div>
  </div>

</section>

<script  defer src="/js/borrarFoto.js"></script>

</body>
</html>